<a href="https://colab.research.google.com/github/luizaraujo/Curso-Python/blob/main/MeusTestes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
carros = [{'Fusca': 100,
           'Brasilia': 101,
           'Gol': 102,
           'Mercedez':103},
          {25: 'Francisco',
           14: 'Xavier',
           51: 'Moacyr',
           33: 'Contreras'},
          {'haveiro': 500,
           'Merc': 501,
           'mercado': 502,
           'Civil': 503
           }]
df = pd.DataFrame(carros)
display(df)

,Fusca,Brasilia,Gol,Mercedez,25,14,51,33,haveiro,Merc,mercado,Civil
0,100.0,101.0,102.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Francisco,Xavier,Moacyr,Contreras,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,501.0,502.0,503.0

In [ ]:
largura = float(input('Diga a largura: '))
comprimento = float(input('Diga o comprimento: '))
area = largura * comprimento

print

In [ ]:
lista1 = ['casa', 'apartamento', 'beco', 'caserna']
for i in range(len(lista1)):
    print(i, lista1[i])

0 casa
1 apartamento
2 beco
3 caserna

In [ ]:
nomes = ['luiz', 'Debora', 'onofre', 'carlito', 'Teotonio']
for i in range(len(nomes)):
    if nomes[i] == 'onofre':
        print(i, nomes[i])

2 onofre

In [ ]:
minha_lista = [1, 2, 3]
minha_lista.extend((4, 5, 6))
print(minha_lista)

[1, 2, 3, 4, 5, 6]

In [ ]:
lista = [42, 'luiz', True, 51]
print(lista[1])

luiz

In [ ]:
tuplas = ('luiz', 42, True)
print(tuplas[1])

42

In [ ]:
estados = {
    11 : 'São Paulo',
    21 : 'Rio de Janeiro',
    31 : 'Minas Gerais',
    41 : 'Paraná',
    51 : 'Rio Grande do Sul',
    84 : 'Rio Grande do Norte'
}

for key, valor in estados.items():
    print(valor.encode()[0])

#print(estados[84])

83
82
77
80
82
82

In [ ]:
palavra = input('Digite uma palavra ou frase: ').capitalize()
tam_palavra = len(palavra)
if palavra == 'Luiz':
    idade = 55
elif palavra == 'Carlos':
    idade = 35
else:
    idade = '0'

print(palavra, tam_palavra, f'{palavra} tem {idade} anos de idade!')

Digite uma palavra ou frase: caros
Caros 5 Caros tem 0 anos de idade!

In [ ]:
variavel = float(input("Digite o valor correspondente ao lado de um quadrado: "))

x = variavel * 4

y = variavel ** 2

print("perímetro:", x, "área:", y)

Digite o valor correspondente ao lado de um quadrado: 3
perímetro: 12.0 área: 9.0

## Calculadora

In [ ]:
velho = 0
for c in range(1, 3):
    print(5 * '-' + f' {c}ª PESSOA ' + 5 * '-')
    nome = input('Digite seu nome: ')
    idade = int(input('Digite sua idade: '))
    sexo = input('Sexo (M/F): ').upper()  
    if sexo == "M":
        velho = idade
        print(velho, f'\nParabéns')
    else:
        velho == 0
        velho += idade
        print(f'Você não poderá participar do curso!!!')

----- 1ª PESSOA -----
Digite seu nome: sdfsf
Digite sua idade: 2
Sexo (M/F): m
2
Parabéns
----- 2ª PESSOA -----
Digite seu nome: dfgdfdgdf
Digite sua idade: 12
Sexo (M/F): b
Você não poderá participar do curso!!!

In [ ]:
raio = float(input())
vol_esfera = ((4/3) * 3.14159 * raio ** 3)
print(f'VOLUME = {vol_esfera:.3f}')

3
VOLUME = 113.097

In [ ]:
a = float(input("Digite o lado 'a' do triângulo: "))
b = float(input("Digite o lado 'b' do triângulo: "))
c = float(input("Digite o lado 'c do triângulo: "))

triangulo = (a * c) / 2
circulo = ((3.14159) * c **2

In [ ]:
a, b, c = input().split(' ')
a = float(a)
b = float(b)
c = float(c)
tri = (a * c) / 2
cir = (3.14159 * c ** 2)
trap = ((a + b) * c) / 2
quad = b * b
ret = a * b
print(f'TRIANGULO: {tri:.3f}')
print(f'CIRCULO: {cir:.3f}')
print(f'TRAPEZIO: {trap:.3f}')
print(f'QUADRADO: {quad:.3f}')
print(f'RETANGULO: {ret:.3f}')

3.0 4.0 5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RETANGULO: 12.000

In [ ]:
a, b, c = input().split(' ')
a = int(a)
b = int(b)
c = int(c)
maiorAB = (a + b + abs(a - b)) / 2
maior = (maiorAB + c + abs(maiorAB - c)) / 2
print(f'{maior:.0f} eh o maior')

201 14 28
201 eh o maior

In [ ]:
num = float(input())

n, n1 = int(100), int(1)

array = [50, 30, 10, 5, 3, 0]

cent = [.5, .25, .15, .05, .04, 0]

print("NOTAS:")   

for i in range(0, 6):

    num1 = int(num / n)

    temp = float(num % n)

    num = temp

    print(num1, "nota(s) de R$", format(n, '.2f'))

    n -= array[i]
    print("MOEDAS:")

for j in range(0, 6):

    num1 = int(num / n1)

    temp = float(num % n1)

    num = temp

    if (j != 5):

        print(num1, "moeda(s) de R$", format(n1, '.2f'))

    else:

        print(num1, "moeda(s) de R$", format(n1, '.2f'), end='')

        n1 -= cent[j]

5
NOTAS:
0 nota(s) de R$ 100.00
MOEDAS:
0 nota(s) de R$ 50.00
MOEDAS:
0 nota(s) de R$ 20.00
MOEDAS:
0 nota(s) de R$ 10.00
MOEDAS:
1 nota(s) de R$ 5.00
MOEDAS:
0 nota(s) de R$ 2.00
MOEDAS:
0 moeda(s) de R$ 1.00
0 moeda(s) de R$ 1.00
0 moeda(s) de R$ 1.00
0 moeda(s) de R$ 1.00
0 moeda(s) de R$ 1.00
0 moeda(s) de R$ 1.00

**Adivinhar Número Secreto**

In [ ]:
numeroSecreto = 5
numero = int(input('Digite o número secreto \n'))
if (numero == numeroSecreto):
    print('Acertou!!!')
else:
    print('Errou!!!')

Digite o número secreto
5
Acertou!!!

In [ ]:
users = {'hans': 'active', 'eleonora': 'inactive', 'hash': 'active'}
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [ ]:
frutas = ['Maçã', 'Laranja', 'Uva', 'Goiaba', 'Limão']
for i in frutas:
    print(i.upper(), len(i))

MAÇÃ 4
LARANJA 7
UVA 3
GOIABA 6
LIMÃO 5

In [ ]:
s = 0
for d in range(0, 5, 2):
    s += d
    print(s)

0
2
6