<a href="https://colab.research.google.com/github/luizaraujo/Curso-Python/blob/main/pandas_e_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [10]:
meus_dados = np.array([['Luiz', 55], ['Lucilia', 76], ['Moises', 81], ['Sandra', 54], ['Maitê', 3]])

In [11]:
meus_nomes_coluna = ['Nome', ' Idade']

In [12]:
meu_dataframe = pd.DataFrame(data=meus_dados, columns=meus_nomes_coluna)

In [13]:
print(meu_dataframe)

      Nome  Idade
0     Luiz     55
1  Lucilia     76
2   Moises     81
3   Sandra     54
4    Maitê      3

In [19]:
print(meu_dataframe['Nome'] + ' É o meu nome!')

0       Luiz É o meu nome!
1    Lucilia É o meu nome!
2     Moises É o meu nome!
3     Sandra É o meu nome!
4      Maitê É o meu nome!
Name: Nome, dtype: object